<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="Microaitec,stp,STP,Microaitec STP" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/images/favicon.png" type="">

    <title> MicroAITec </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/micro.css" />

    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />

    <link rel="stylesheet" href="/assets/css/app.min.css">
    <link rel="stylesheet" href="/assets/css/style1.css">
    <link rel="stylesheet" href="/assets/css/components.css">

    <link rel="stylesheet" href="/assets/bundles/owlcarousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/bundles/owlcarousel2/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/bundles/summernote/summernote-bs4.css">
    <!-- Custom style CSS -->
    <!-- Template CSS -->

    <link href="/assets/plugins/notify/css/jquery.growl.css" rel="stylesheet" />
    <link href="/assets/plugins/notify/css/notifIt.css" rel="stylesheet" />

</head>

<body>

    <div class="hero_area">

        <div class="hero_bg_box">
            <div class="bg_img_box">
                <img src="images/hero-bg.png" alt="">
            </div>
        </div>

        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" href="/">
                        <img class="micro-logo_name" src="images/microaitec-name.png" alt="">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color: transparent;">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Início</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/sobre">Sobre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/servicos">Serviços</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/projetos">Projetos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/produtos">Produtos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cursos">Cursos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/eventos">Eventos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contato">Contato</a>
                            </li>
                            <li class="nav-item">

                                <a class="btn1" style="text-decoration: none;" href="/auth"> <i class="fa fa-user mr-2" aria-hidden="true"></i> Entrar</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
        <!-- slider section -->
        <section class="slider_section ">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="detail-box">
                                        <h1 class="micro-titulo">
                                            Bem-Vindo
                                        </h1>
                                        <p style="text-align: justify;
                                        text-justify: inter-word;">
                                            Perspectiva estabelecer combinação entre o software e hardware para gerar soluções que auxiliem as pessoas executar as suas taferas de forma rápida e eficiente, promovendo o conforto aos clientes e satisfação nas suas acções.
                                        </p>
                                        <div class="btn-box" style="border-radius: 20px;">
                                            <a href="/auth/register" class="btn1" style="border-radius: 20px;background: #5362EC;text-decoration: none;">
                                              Tornar Cliente
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="images/microaitec_dark.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="detail-box">
                                        <h1 class="micro-titulo" style="font-size: 35px;">
                                            OS NOSSOS OBJECTIVOS
                                        </h1>
                                        <p>
                                            Desenvolver e levar as novas tecnologias de forma qualificada para sociedade santomense. Melhorar as vidas das pessoas usando a tecnologia
                                        </p>
                                        <div class="btn-box" style="border-radius: 20px;">
                                            <a href="/auth/register" class="btn1" style="border-radius: 20px;background: #5362EC;text-decoration: none;">
                                              Tornar Cliente
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="images/microaitec_dark.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="detail-box">


                                        <h1 class="micro-titulo">
                                            <span style="color:#FFF;padding: 0px;margin: 0px;display: flex;">

                                              MicroAITec
                                            </span>
                                        </h1>




                                        <p>
                                            <h1 style="font-size: 22px;color:#5362EC;">AVANÇO NA INOVAÇÃO TECNOLÓGICA</h1>
                                            <h1 style="font-size: 16px;">Desenvolvimento de Software e do Hardware</h1>
                                        </p>
                                        <div class="btn-box" style="border-radius: 20px;">
                                            <a href="/auth/register" class="btn1" style="border-radius: 20px;background: #5362EC;text-decoration: none;">
                                              Tornar Cliente
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="images/microaitec_dark.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#customCarousel1" data-slide-to="1"></li>
                    <li data-target="#customCarousel1" data-slide-to="2"></li>
                </ol>
            </div>

        </section>
        <!-- end slider section -->
    </div>


    <!-- service section -->

    <section class="service_section layout_padding">
        <div class="service_container">
            <div class="container ">
                <div class="heading_container heading_center">
                    <h2 class="micro-sub_titulo">
                        Área <span>de Actuação</span>
                    </h2>
                </div>

                <div class="row mt-2">
                    <!--background: #5362EC;-->

                    <% data.area.forEach(function(area) { %>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">

                            <div class="card micro-card">

                                <a href="<%= '/servicos/'+area.id %>" style="text-decoration: none;">
                                    <div class="card-statistic-3">
                                        <div class="card-icon card-icon-large"><i class="<%= 'fa '+area.icon %> "></i></div>
                                        <div class="card-content">
                                            <h4 class="card-title text-center">
                                                <%= area.nome %>
                                            </h4>
                                            <p class="mb-0 text-sm">

                                                <span class="text-nowrap"><%= area.breve_descricao %> </span>
                                            </p>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                        <% }); %>

                </div>




            </div>
        </div>
    </section>

    <!-- end service section -->



    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container  ">
            <div class="heading_container heading_center">
                <h2 class="micro-sub_titulo">
                    Sobre <span>Nós</span>
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="images/microaitec_dark.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <h3>
                            História do MicroAITec
                        </h3>
                        <p style="text-align: justify;
            text-justify: inter-word;">
                            Surgiu pela iniciativa de oito jovens com o sonho de melhorar a tecnologia de informação e comunicação em São Tomé e Príncipe, de forma a melhor as demais areias como: Educação, Saúde, Pesca, Agricultura. A MicroAITec é um grupo formado por engenheiros
                            e técnicos, que dão suporte nas áreas de tecnologia, constituído por jovens santomenses com ideias criativas, visando o avanço tecnológico e o desenvolvimento sustentável em São Tomé e Príncipe. Com objetivo de fornecer às
                            empresas, pessoas e a sociedade santomense uma solução, simples e acessível, que permita integrar o conceito das novas TIC's no processo de desenvolvimento.
                        </p>
                        <p style="text-align: justify;
            text-justify: inter-word;">
                            Perspectiva estabelecer combinação entre o software e hardware para gerar soluções que auxiliem as pessoas executar as suas taferas de forma rápida e eficiente, promovendo o conforto aos clientes e satisfação nas suas acções.
                        </p>
                        <a href="/sobre" style="border-radius: 20px;">
              Ler mais
            </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->



    <!-- row end -->



    <!-- why section -->

    <section class="why_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2 class="mb-2 font-weight-semibold micro-sub_titulo">
                    Porque <span>escolher-nos</span>
                </h2>
            </div>

            <div class="row mt-5">
                <div class="owl-carousel owl-theme" id="porque-carousel">

                    <% data.porque.forEach(function(porque) { %>
                        <div class="border">
                            <div class="card-statistic-4">
                                <div class="align-items-center justify-content-between">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                            <div class="card-content">
                                                <h5 class="font-15">
                                                    <%= porque.nome %>
                                                </h5>

                                                <p class="mb-0">
                                                    <%= porque.descricao %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 pl-0">
                                            <div class="banner-img">
                                                <img style="width: 100px;height: 100px;" src="<%= porque.img?.url %>" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>

                </div>





            </div>

        </div>
    </section>

    <!-- end why section -->



    <!-- team section -->
    <section class="team_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2 class="mb-2 font-weight-semibold micro-sub_titulo">
                    Estrutura do <span> MicroAITec</span>
                </h2>
            </div>

            <div class="team_container ">
                <div class="owl-carousel owl-theme" id="users-carousel">

                    <% data.membros.forEach(function(membro) { %>
                        <div>
                            <div class="">
                                <img alt="image" src="<%= membro.foto?.url %>" class="micro-img_membro">
                                <div class="user-details">
                                    <div class="user-name text-white">
                                        <%= membro.nome %>
                                    </div>
                                    <div class="text-job text-muted">
                                        <%= membro.funcao %>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <% }); %>

                </div>
            </div>
        </div>
    </section>
    <!-- end team section -->


    <!-- client section -->
    <section class="why_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2 class="mb-2 font-weight-semibold micro-sub_titulo">
                    Parcerias <span> MicroAITec</span>
                </h2>
            </div>

            <div class="team_container ">

                <div class=" mt-4">

                    <div class="owl-carousel owl-theme" id="parceria-carousel">

                        <% data.parcerias.forEach(function(parceria) { %>
                            <div>
                                <a href="<%=parceria.link %>">
                                    <div class="">
                                        <img alt="<%= parceria.nome %>" style="width: 100px;" src="<%= parceria.logo.url %>" data-toggle="tooltip" title="<%= parceria.nome %>">

                                    </div>
                                </a>

                            </div>
                            <% }); %>


                    </div>
                </div>
            </div>

        </div>
    </section>


    <!-- end client section -->


    <!-- info section -->

    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 info_col">
                    <div class="info_contact">
                        <h4>
                            Localização
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                  No momento Online
                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                  Tel: +351 962466264/+239 9032531
                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                  microaitec@microaitec.com
                </span>
                            </a>
                        </div>
                    </div>
                    <div class="info_social">
                        <a href="https://www.facebook.com/microaitec">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.instagram.com/stpmicroaitec/">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 info_col">
                    <div class="info_detail">
                        <img style="height: 40px;" src="images/microaitec-name.png" alt="">
                        <p style="text-align: justify;
            text-justify: inter-word;">
                            Perspectiva estabelecer combinação entre o software e hardware para gerar soluções que auxiliem as pessoas executar as suas taferas de forma rápida e eficiente, promovendo o conforto aos clientes e satisfação nas suas acções.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 mx-auto info_col">
                    <div class="info_link_box">
                        <h4>
                            Links
                        </h4>

                        <div class="info_links">
                            <a class="active" href="/">
                Início
              </a>
                            <a class="" href="/sobre">
                Sobre
              </a>
                            <a class="" href="/servico">
                Serviços
              </a>
                            <a class="" href="/projectos">
                Projectos
              </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 mx-auto info_col">
                    <div class="info_link_box">
                        <h4>
                            Links
                        </h4>

                        <div class="info_links">
                            <a class="" href="/cursos">
                Cursos
              </a>
                            <a class="" href="/eventos">
                Eventos
              </a>
                            <a class="" href="/contacto">
                Contacto
              </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 info_col">
                    <p>
                        Conecta-se com a MicroAITec
                    </p>
                    <form onsubmit="conectar(event)" action="#">
                        <input type="text" placeholder="Enter email" id="email" />
                        <button type="submit">
                        Subscribe
                      </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="/assets/plugins/notify/js/rainbow.js"></script>
    <script src="/assets/bundles/owlcarousel2/dist/owl.carousel.min.js"></script>
    <script src="/assets/bundles/summernote/summernote-bs4.js"></script>
    <!-- Page Specific JS File -->
    <script src="/assets/js/page/widget-data.js"></script>
    <script src="/assets/plugins/notify/js/sample.js"></script>
    <script src="/assets/plugins/notify/js/jquery.growl.js"></script>
    <script src="/assets/plugins/notify/js/notifIt.js"></script>


    <script>
        function conectar(e) {
            e.preventDefault();
            let email = document.getElementById('email').value;

            if (email) {
                //  console.log(app.npedido)
                axios.post(`/api/conectados`, {
                        "data": {
                            email

                        }
                    })
                    .then(async response => {
                        // $('#success-modal').modal('show');
                        // window.location.host="/SGAD/policia"
                        console.log(response.data)

                        not1("Conectado com sucesso!!")
                        document.getElementById('email').value = ""
                    })
                    .catch(error => {
                        // Handle error.



                        not2("Ação não autorizada!")


                        // $('#warning-modal').modal('show');

                    });

            } else {
                not3("Insira o seu email devidamente. Tente novamente!")
            }
        }
    </script>

</body>

</html>
